<div class = "container">
    <div class = "header">
        <h1>BOOK FORM</h1>
    </div>
    
    <form>
        <mat-form-field class="example-full-width">
            <mat-label>Title</mat-label>
            <input matInput placeholder="Title">
        </mat-form-field>
        <pre></pre>
        
        <mat-form-field class="example-full-width">
            <mat-label>Author</mat-label>
            <input matInput placeholder="Author">
        </mat-form-field>
        <pre></pre>
        <mat-form-field class="example-full-width">
            <mat-label>Description</mat-label>
            <input matInput placeholder="Author">
        </mat-form-field>
        <pre></pre>


    </form>

</div>
