<div class = "container">
    <div class ="header">
        <h1>BLOG FORM</h1>
    </div>
    <pre></pre>
    <form>
        <mat-form-field class="example-full-width">
            <mat-label>Title</mat-label>
            <input matInput placeholder="Be creative...">
        </mat-form-field>
        <pre></pre>
        <mat-form-field class="example-full-width">
            <mat-label>Description</mat-label>
            <textarea matInput placeholder="Short and concise..."></textarea>
        </mat-form-field>
        <pre></pre>
        <mat-form-field class="example-full-width">
            <mat-label>Author</mat-label>
            <input matInput placeholder="Author">
        </mat-form-field>
        <pre></pre>
        <mat-form-field class="example-full-width">
            <mat-label>Leave a comment</mat-label>
            <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
        </mat-form-field>
        <pre></pre>


    </form>



</div>
