<div class = "container">
    <h1>UNDER CONSTRUCTION</h1>
    <form>
        <div class="form-group">
            <label for="title">Title</label><br>
            <input type="text" name = "title" class="form-control">
        </div>
        <pre></pre>
        <div class="form-group">
            <label for="description">Description</label><br>
            <input type="text" name = "description" class="form-control">
        </div>
        <pre></pre>
        <div class="form-group">
            <label for="author">Authors</label><br>
            <input type="text" name = "author" class="form-control">
        </div>
        <pre></pre>
        <div class="form-group">
            <label for="comment">Comments</label><br>
            <input type="text" name = "comment" class="form-control">
        </div>
        <pre></pre>


    </form>



</div>
